/*
teal: #b5e4e7
salmon: #ffc5b7
blue: #384e72
*/
::selection {
  background: #b5e4e7;
}

body {
    color: white; 
    font-weight: 100; 
    font-family:"Raleway", "Open Sans", sans-serif; 
    font-size: 16px;
    margin: 0px; 
    padding: 0px; 
    background: #384e72; 
    display: block;
    height: 100%; 
}

#about {    
    width: 100%; 
}

#about h1 {
    margin-top: 5px;  
    font-size: 32px; 
    font-family: "Roboto Mono", monospace; 
    font-weight: 300; 
    margin-bottom: -5px; 
}

.wrapper {
    margin: 0 auto; 
    max-width: 675px; 
    min-width: 300px; 
    padding: 30px 20px 0px 20px; 
}

.wrapper_two {
    border-bottom: 0.75px solid white; 
    margin-right: -1%; 
    padding-bottom: 60px; 
}

#section_two {
    font-weight: 100; 
    display: block; 
    padding: 0px; 
    width: 88%; 
    color: white;    
}

#contact_links {
    margin: 25px 0px -5px 0px; 
    list-style: none; 
    padding-left: 0px;
}   

#contact_links li { 
    float: left; 
    padding-right: 15%; 
}

#contact_links li a img { 
    transition: all 0.15s ease; 
}

#contact_links li a img:hover {
    transform: rotate(-30deg);  
}

#section_two h1 {
    font-size: 32px; 
    font-family: "Roboto Mono", monospace; 
    font-weight: 300; 
    display: block; 
    margin: 16px 0 0px 0; 
    padding-top: 0%; 
}

.buttons button {
    vertical-align: middle; 
    font-family:"Raleway", sans-serif; 
    border-radius: 7px; 
    background-color: #384e72; 
    color: white; 
    border: 0.5px solid white; 
    padding: 10px; 
    -webkit-transition: .5s all;   
    -webkit-transition-delay: 0s; 
    -moz-transition: .5s all;   
    -moz-transition-delay: 0s; 
    -ms-transition: .5s all;   
    -ms-transition-delay: 0s; 
    -o-transition: .5s all;   
    -o-transition-delay: 0s; 
    transition: .5s all;   
    transition-delay: 0s;  
}


.buttons button:hover {
    cursor: pointer; 
    font-family:"Raleway", sans-serif; 
    border-radius: 7px; 
    background-color: #b5e4e7; 
    color: #384e72; 
    border: 0.5px solid #b5e4e7; 
    padding: 10px; 
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

#button_list {
    width: 100%; 
    padding: 0px 0px 0px 15px; 
    text-align: right; 
    position: relative; 
    list-style: none;
}

#button_list li {
    margin-right: 15%; 
    float: right; 
}

#button_list li button {
    margin-bottom: 20px; 
}

#button_list_container {
    padding-top: 4%; 
    top: 0px; 
    left: 0px; 
    margin: 0px; 
    width: 250px; 
    display: flex;
    flex-grow: 9; 
}

#profile_pic {
    margin-top: 15px; 
    margin-bottom: 0px; 
    position: relative;
    height: 150px; 
    width: 150px; 
    border-radius: 50%; 
    display: inline-block;
}

.hidden {
    display: inline-block;
}


.hidden h5 {
    font-family: "Roboto Mono", monospace; 
    font-size: 15px; 
    margin: 0px 0px 7px 0px; 
    color: white; 
    font-weight: 400; 
    font-size: 16px; 
}
.hidden a {
    font-family: "Roboto Mono", monospace; 
    font-size: 15px; 
    margin: 0px 0px 7px 0px; 
    color: white; 
    text-decoration: underline solid #ffc5b7; 
    font-weight: 400; 
    font-size: 16px; 
    -webkit-transition: .3s all;   
    -moz-transition: .3s all;   
    -ms-transition: .3s all;    
    -o-transition: .3s all;    
    transition: .3s all;     
}

.hidden a:hover {
    font-size: 15px; 
    margin: 0px 0px 7px 0px; 
    color: #ffc5b7; 
    text-decoration: none; 
    font-weight: 400; 
    font-size: 16px; 
}


.hidden li {
    padding: 0px 5px 5px 0px; 
    font-size: 13px;
}

.hidden p {
    text-align: left; 
    font-size: 13px; 
    margin: 0px 0px 5px 0px; 
}

.hidden ul { 
    padding: 0px 0px 0px 30px; 
    margin: 0px 0px 0px 0px;    
}

.hidden br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 2.25%; /* change this to whatever height you want it */
}

#triangle {
    height: 100%; 
    width: 100%; 
    border: 0.75px solid white; 
}

#placeholder {
    min-width: 100px;  
    width: auto; 
    height: auto; 
    margin-top: 10px; 
    display: flex; 
    flex-wrap: wrap;
    flex-grow: 3; 
}

#projects_text {
    margin-top: 10px; 
    display: none; 
    width: 57%;
    min-width: 300px; 
    height: 210px; 
    overflow-y: scroll;  
    flex-wrap: wrap;
    flex-grow: 3;
}

#experience_text {
    margin-top: 10px; 
    display: none; 
    width: 57%;
    min-width: 300px; 
    height: 210px; 
    overflow-y: scroll;  
    flex-wrap: wrap;
    flex-grow: 3;
}

#music_text {
    margin-top: 10px; 
    display: none; 
    width: 57%;
    min-width: 300px; 
    height: 210px; 
    overflow-y: scroll;  
    flex-wrap: wrap;
    flex-grow: 3;
}

#section_two { 
    width: 100%; 
}

.prof_button_place_container {
    vertical-align: center; 
    display: flex; 
    flex-wrap: wrap; 
}

#music h5 {
    margin: 0; 
    padding: 0; 
}

.pic_container {
    width: 100%; 
    background-color: white; 
}






    
